$font-green: #5b7e0e;
@font-face {
  font-family: "Corben-Bold";
  src: font-url("Corben-Bold.ttf");
}
@font-face {
  font-family: "Corben-Regular";
  src: font-url("Corben-Regular.ttf");
}

h2 {
  font-family: "Corben-Bold";
  font-size: .95em;
  text-align: center;
}
h3 {
  font-size: 1em;
}
p {
  font-size: .9em;
}

body {
  background-color: #75cbd2;
}

.row, header, footer, .home-bottom-column, .right-column-2-3rds {
  ul {
    li {
      display: inline;
    }
  }
}

header {
  border-radius: 40px 40px 0px 0px;
  #logo {
    position: relative;
    bottom: 20px;
  }
  #page_navigation {
    text-align: center;
    position: relative;
    margin: 30px auto 0px auto;
    bottom: -15px;
    li {
      margin: 2px 2px 20px 2px;
      border-radius: 20px;
      width: 100px;
      height: 25px;
      display: inline-block;
      text-align: center;
      a {
        color: #fdeff7;
      }
    }
    li:nth-child(1) {
      background-color: #75cbd1;
    }
    li:nth-child(2) {
      background-color: #8cb82c;
    }
    li:nth-child(3) {
      background-color: #702c8e;
    }
    li:nth-child(4) {
      background-color: #ec008c;
    }
  }
  h2 {
    color: #75cbd2;
  }
}

footer {
  margin: 20px auto 0px auto;
  text-align: center;
  a {
    color: #d5f1f0;
    font-size: .9em;
  }
}

span {
  display: inline-block;
  img {
    display: inline;
  }
  h3 {
    display: inline;
  }
}

.row {
  margin: 0px 0px;
}

#devise_navigation {
  float: right;
  position: relative;
  bottom: -15px;
  right: 30px;
  a {
    font-size: .9em;
  }
}


#main_navigation_row {
  background-color: #f5cbd3;
  #main_navigation {
    text-align: center;
    margin: 0px auto;
    li {
      margin: 0px 2.5% 0px 2.5%;
      form {
        display: inline;
      }
      a {
        color: #6f1549;
        font-family: "Corben-Bold";
      }
    }
    .auction_search_search_term {
      display: inline-block;
      width: 128px;
      height: 32px;
      label {
        display: none;
      }
      input {
        width: 128px;
        height: 32px;
        border: none;
        border-radius: 20px;
        background: asset-data-url('search_bar.gif') no-repeat;
        background-size: 100% 100%;
        background-position: center;
        padding: 0px 0px 0px 36px;
      }
    }
  }
}

.interior {
  @include grid-row();
}

.interior:nth-child(2) {
  margin: 0px auto 0px auto;
}

.top {
  background-color: #d5f1f0;
}

#content, header {
  @include grid-row();
  background-color: #ffffff;
  padding: 20px;

  .notice {
    margin: 10px auto 0px auto;
    color: $font-green;
  }
  input[type="submit"] {
    border-radius: 20px;
    background-color: #8cb82c;
    display: inline;
    color: #ffffff;
  }

  $full-column-size: 12;
  $left-column-size: 6;
  $one-3rd-column-size: $full-column-size / 3;
  $two-3rds-column-size: 2 * $one-3rd-column-size;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
  .left-column-1-3rd {
    @include grid-column($one-3rd-column-size);
  }
  .right-column-2-3rds {
    @include grid-column($two-3rds-column-size);
  }
  .home-top-row {
    @include grid-row(12);
    margin: 0px;
    h2 {
      color: #8cb82c;
      margin: 40px 0px 10px 0px;
    }
    h3 {
      color: #45abb3;
    }
    #owl-row {
      margin: 20px auto 20px auto;
    }
    #shop-now-row {
      background: asset-data-url("homepage/dotted_line_44_36.png") repeat;
      background-position: center;
    }
    .button {
      display: inline;
      border-radius: 30px;
      padding: 6px;
      background-color: #ec008c;
      border: 0px;
      position: relative;
      right: -60%;
    }
    p {
      color: #5b7e0e;
    }
    #mission-statement {
      margin: 20px auto 20px auto;
    }
    #tree-row {
      img {
        display: inline;
      }
      h2 {
        color: #5b7e0e;
      }
      #tree-span {
        float: right;
      }
    }
  }
  #child_images {
    text-align: center;
    img:nth-child(2) {
      margin: 10px auto 10px auto;
    }
  }
  .home-bottom-row {
    @include grid-row(12);
    .home-bottom-column {
      @include grid-column($full-column-size);
      text-align: center;
      #callout_images {
        li {
          margin: 0px 20px 0px 20px;
        }
      }
    }
  }

  .child_icons {
    display: inline-block;
  }

  #auction_search_sidebar{
    padding: 10px;
    margin: 0px auto 0px auto;
    border-radius: 40px;
    background-color: #edfad1;
    li {
      display: inline;
    }
    a, h2, label, select {
      color: $font-green;
    }
    .auction_search_search_term {
      display: inline-block;
      width: 75%;
    }
    select {
      background-color: rgba(0, 0, 0, .0);
      background: asset-data-url("down_arrow.png") no-repeat right;
      background-size: contain;
      border: none;
      display: inline;
      width: 45%;
      height: 30px;
      margin: 0px 0px 0px 10px;
      color: $font-green;
      -webkit-appearance: none;
      option:focus {
        outline: 0;
      }
    }
    select:focus {
      outline: 0;
    }
    label {
      color: $font-green;
      display: inline;
      margin: 0px 6px 0px 0px;
    }
    input[type=submit] {
      display: inline;
    }
    .children-list {
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        text-align: center;
        width: 40%;
        background: asset-data-url("owls/owl_green_32.png") no-repeat left;
        background-size: contain;
        padding: 0px 0px 0px 26px;
        margin: 2px auto 2px auto;
        font-size: 80%;
        a {
          font-size: 90%;
        }
      }
    }
    .check_boxes {
      margin: 0px 0px 20px 0px;
      label {
        display: block;
        margin: 0px 0px 10px 0px;
      }
      input[type=checkbox] {
        margin: 0px 3px 5px 3px;
        display: inline;
      }
      span.checkbox:not(.custom) {
        margin: 0px 5px 0px 5px;
        min-width: 45%;
      }
    }
    .checkbox {
      input, label {
        display: inline;
      }
    }
    .auction_search_search_term {
      label {
        display: none;
      }
      #auction_search_search_term {
        display: inline;
      }
    }
  }
  .auction, .breadcrumb_navigation {
    vertical-align: top;
    a {
      color: $font-green;
    }
    .large_gender {
      height: 30px;
    }
  }
  .auction {
    display: inline-block;
    max-width: 20%;
    font-size: 80%;
    margin: 2% 2% 2% 2%;
    text-align: center;
    img {
      max-width: 90%;
      max-height: 50%;
    }
    span {
      margin: 2%;
    }
  }
  .auction_search_sort_by {
    display: inline-block;
    width: 30%;
    .new_auction_search {
      width: 50%;
    }
    label {
      color: $font-green;
      display: inline;
      margin: 0px 6px 0px 0px;
    }
    select {
      background-color: rgba(0, 0, 0, .0);
      background: asset-data-url("down_arrow.png") no-repeat right;
      background-size: contain;
      border: none;
      display: inline;
      width: 50%;
      height: 30px;
      margin: 0px 0px 0px 10px;
      color: $font-green;
      -webkit-appearance: none;
      option:focus {
        outline: 0;
      }
    }
    select:focus {
      outline: 0;
    }
  }

}



#content {
  border-radius: 0px 0px 80px 80px;
}

$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em) and (height: 22em)" !default;

@media #{$small-only} {
  #content {
    .left-column, .right-column {
      @include grid-column(12);
    }
  }
}
